<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
    <h1 class="h2"><%= millingData.sem_filename %></h1>
    <div class="btn-toolbar mb-2 mb-md-0">
        <div class="btn-group me-2">
            <button type="button" class="btn btn-sm btn-outline-secondary">Share</button>
            <button type="button" class="btn btn-sm btn-outline-secondary">Export</button>
        </div>
    </div>
</div>

<div class="col py-3">
    <div class="row">
        <div class="col">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="javascript:history.back()">Details</a></li>
                    <li class="breadcrumb-item active"><%= millingData.sem_filename %></li>
                </ol>
            </nav>
        </div>
        <div class="col text-end fw-lighter">
            <b>Last Updated:</b> <%= new Date(millingData.updatedAt).toUTCString() %><br>
            <b>UserID:</b> <%= millingData._id %>
        </div>
    </div>
</div>

<ul class="list-group">
    <li class="list-group-item">
        <div class="row">
            <div class="col-4"><b>Date of Milling:</b></div>
            <div class="col"><%= millingData.dateMilling.toDateString() %></div>
        </div>
    </li>
    <li class="list-group-item">
        <div class="row">
            <div class="col-4"><b>Grid Box:</b></div>
            <div class="col"><%= millingData.gridBox %></div>
        </div>
    </li>
    <li class="list-group-item">
        <div class="row">
            <div class="col-4"><b>SEM Filename:</b></div>
            <div class="col"><%= millingData.sem_filename %></div>
        </div>
    </li>
    <li class="list-group-item">
        <div class="row">
            <div class="col-4"><b>Maps Filename:</b></div>
            <div class="col"><%= millingData.maps_filename %></div>
        </div>
    </li>
    <li class="list-group-item">
        <div class="row">
            <div class="col-4"><b>Number of Lamellae:</b></div>
            <div class="col"><%= millingData.lamellae %></div>
        </div>
    </li>
    <li class="list-group-item">
        <div class="row">
            <div class="col-4"><b>Details:</b></div>
            <div class="col"><%= millingData.details %></div>
        </div>
    </li>
    <li class="list-group-item">
        <div class="row">
            <div class="col-4"><b>Created At:</b></div>
            <div class="col"><%= millingData.createdAt.toDateString() %></div>
        </div>
    </li>
    <li class="list-group-item">
        <div class="row">
            <div class="col-4"><b>Last Updated:</b></div>
            <div class="col"><%= millingData.updatedAt.toDateString() %></div>
        </div>
    </li>
    <li class="list-group-item">
        <div class="row">
            <div class="col-4"><b>Experiment ID:</b></div>
            <div class="col"><%= millingData.experimentId %></div>
        </div>
    </li>
</ul>