<div class = "d-flex justify-content-between flex-wrap flex-md nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
    <h1 class = "h2"> <%= experiment.fileName %></h1>
    <div class = "btn-toolbarmb-2 mb-md 0">
        <div class = "btn-group me-2">
            <button type = "button" class = "btn btn-sm btn-outline-secondary"> Share</button>
            <button type = "button" class = "btn btn-sm btn-outline-secondary"> Export</button>
        </div>
    </div>
</div>

<div class="col py-3">
    <div class="row">
        <div class = "col">
            <nav aria-label = "breadcrumb">
                <ol class = "breadcrumb">
                    <li class = "breadcrumb-item"><a href = "/"> Dashboard</a></li>
                    <li class="breadcrumb-item active"><%= experiment.fileName %></li>
                </ol>
            </nav>
        </div>
        <div class="col text-end fw-lighter">
            <b>Last Updated:</b> <%= new Date(experiment.updatedAt).toUTCString() %><br>
            <b>UserID:</b> <%= experiment._id %>
        </div>
    </div>
</div>

<div class="d-flex justify-content-between flex-wrap flex-md nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
    <h1 class="h2">Sample Preparation</h1>

    <div class="btn-toolbar mb-2 mb-md 0">
        <div class="btn-group me-2">
            <a href="/addPrepData?experimentId=<%= experiment._id %>" class = "btn btn-sm btn-outline-secondary"> + New Data</a>
        </div>
    </div>
</div>

<div class="table-responsive">
    <table class="table table-striped table-sm">
        <thead>
            <tr>
                <th scope="col">Date Frozen</th>
                <th scope="col">Cell & Genotype</th>
                <th scope="col">Treatment</th>
                <th scope="col">Cell</th>
                <th scope="col" class="text-end">Action</th>

            </tr>
        </thead>
        <tbody>
            <% samples.forEach(element => { %>

                <tr class = "align-middle">
                    <td><%= element.dateFrozen  %></td>
                    <td><%= element.cell_Genotype  %></td>
                    <td><%= element.treatment  %></td>
                    <td><%= element.cell %> </td>
                    
                    <td class = "text-end">

                        <div class="d-flex flex-row justify-content-end gap-2">

                            <a href="/prep-data/<%= element._id %>" type="button" class="btn btn-primary btn-small">
                              <i class="bi bi-eye"></i>
                            </a>

                            <a href="/edit-data/<%= element._id %>" type="button" class="btn btn-warning btn-small">
                              <i class="bi bi-pencil"></i>
                            </a>

                            
                            <form action="/edit-data/<%= element._id %>?_method=DELETE" method="POST" class="position-relative">
                                <input type="hidden" name="experimentId" value="<%= experiment._id %>">
                                <button type="submit" class="btn btn-danger btn-small">
                                  <i class="bi bi-person-x"></i>
                                </button>
                            </form>
                        </div>
                    </td>

                </tr>

            <% }) %>
        </tbody>
    </table>
</div>


<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-5 pb-2 mb-3 border-bottom">
    <h1 class="h2">Leica</h1>
    <div class="btn-toolbar mb-2 mb-md-0">
        <div class="btn-group me-2">
            <a href="/leica/add?experimentId=<%= experiment._id %>" class="btn btn-sm btn-outline-secondary"> + New Leica Data</a>
        </div>
    </div>
</div>

<div class="table-responsive">
    <table class="table table-striped table-sm">
        <thead>
            <tr>
                <th scope="col">Date of Microscopy</th>
                <th scope="col">Grid Box</th>
                <th scope="col">File Name</th>
                <th scope="col" class="text-end">Action</th>
            </tr>
        </thead>
        <tbody>
            <% esp.forEach(element => { %>
                <tr class="align-middle">
                    <td><%= element.dateMicroscopy.toLocaleDateString() %></td>
                    <td><%= element.gridBox %></td>
                    <td><%= element.LM_filename %></td>
                    <td class="text-end">
                        <div class="d-flex flex-row justify-content-end gap-2">
                            <a href="/leica/view/<%= element._id %>" class="btn btn-primary btn-small">
                                <i class="bi bi-eye"></i>
                            </a>
                            <a href="/leica/edit/<%= element._id %>" class="btn btn-warning btn-small">
                                <i class="bi bi-pencil"></i>
                            </a>
                            <form action="/leica/delete/<%= element._id %>?_method=DELETE" method="POST" class="position-relative">
                                <input type="hidden" name="experimentId" value="<%= experiment._id %>">
                                <button type="submit" class="btn btn-danger btn-small">
                                    <i class="bi bi-trash"></i>
                                </button>
                            </form>
                        </div>
                    </td>
                </tr>
            <% }) %>
        </tbody>
    </table>
</div>

<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-5 pb-2 mb-3 border-bottom">
    <h1 class="h2">Milling</h1>
    <div class="btn-toolbar mb-2 mb-md-0">
        <div class="btn-group me-2">
            <a href="/milling/add?experimentId=<%= experiment._id %>" class="btn btn-sm btn-outline-secondary"> + New Milling Data</a>
        </div>
    </div>
</div>

<div class="table-responsive">
    <table class="table table-striped table-sm">
        <thead>
            <tr>
                <th scope="col">Date of Milling</th>
                <th scope="col">Grid Box</th>
                <th scope="col">SEM Filename</th>
                <th scope="col">Maps Filename</th>
                <th scope="col">Lamellae</th>
                <th scope="col" class="text-end">Action</th>
            </tr>
        </thead>
        <tbody>
            <% mill.forEach(element => { %>
                <tr class="align-middle">
                    <td><%= element.dateMilling.toLocaleDateString() %></td>
                    <td><%= element.gridBox %></td>
                    <td><%= element.sem_filename %></td>
                    <td><%= element.maps_filename %></td>
                    <td><%= element.lamellae %></td>
                    <td class="text-end">
                        <div class="d-flex flex-row justify-content-end gap-2">
                            <a href="/milling/view/<%= element._id %>" class="btn btn-primary btn-small">
                                <i class="bi bi-eye"></i>
                            </a>
                            <a href="/milling/edit/<%= element._id %>" class="btn btn-warning btn-small">
                                <i class="bi bi-pencil"></i>
                            </a>
                            <form action="/milling/delete/<%= element._id %>?_method=DELETE" method="POST" class="position-relative">
                                <input type="hidden" name="experimentId" value="<%= experiment._id %>">
                                <button type="submit" class="btn btn-danger btn-small">
                                    <i class="bi bi-trash"></i>
                                </button>
                            </form>
                        </div>
                    </td>
                </tr>
            <% }) %>
        </tbody>
    </table>
</div>

<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-5 pb-2 mb-3 border-bottom">
    <h1 class="h2">Krios</h1>
    <div class="btn-toolbar mb-2 mb-md-0">
        <div class="btn-group me-2">
            <a href="/krios/add?experimentId=<%= experiment._id %>" class="btn btn-sm btn-outline-secondary"> + New Krios Data</a>
        </div>
    </div>
</div>

<div class="table-responsive">
    <table class="table table-striped table-sm">
        <thead>
            <tr>
                <th scope="col">Krios Date</th>
                <th scope="col">Krios File Name</th>
                <th scope="col">Krios Notes</th>
                <th scope="col" class="text-end">Action</th>
            </tr>
        </thead>
        <tbody>
            <% krio.forEach(element => { %>
                <tr class="align-middle">
                    <td><%= element.kriosDate.toLocaleDateString() %></td>
                    <td><%= element.kriosFileName %></td>
                    <td><%= element.kriosNotes %></td>
                    <td class="text-end">
                        <div class="d-flex flex-row justify-content-end gap-2">
                            <a href="/krios/view/<%= element._id %>" class="btn btn-primary btn-small">
                                <i class="bi bi-eye"></i>
                            </a>
                            <a href="/krios/edit/<%= element._id %>" class="btn btn-warning btn-small">
                                <i class="bi bi-pencil"></i>
                            </a>
                            <form action="/krios/delete/<%= element._id %>?_method=DELETE" method="POST" class="position-relative">
                                <input type="hidden" name="experimentId" value="<%= experiment._id %>">
                                <button type="submit" class="btn btn-danger btn-small">
                                    <i class="bi bi-trash"></i>
                                </button>
                            </form>
                        </div>
                    </td>
                </tr>
            <% }) %>
        </tbody>
    </table>
</div>

<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-5 pb-2 mb-3 border-bottom">
    <h1 class="h2">Data Processing</h1>
    <div class="btn-toolbar mb-2 mb-md-0">
        <div class="btn-group me-2">
            <a href="/dataProcessing/add?experimentId=<%= experiment._id %>" class="btn btn-sm btn-outline-secondary"> + New Data</a>
        </div>
    </div>
</div>


<div class="table-responsive">
    <table class="table table-striped table-sm">
        <thead>
            <tr>
                <th scope="col">Reconstructions</th>
                <th scope="col">Membrane Segmentation</th>
                <th scope="col">Filament Segmentation</th>
                <th scope="col">Dragonfly Segmentation</th>
                <th scope="col">Particle Picks</th>
                <th scope="col">M Refinements</th>
                <th scope="col">Work Link</th>
                <th scope="col" class="text-end">Action</th>
            </tr>
        </thead>
        <tbody>
            <% dataPro.forEach(element => { %>
                <tr class="align-middle">
                    <td><% if (element.pathToReconstructions) { %><a href="<%= element.pathToReconstructions %>" target="_blank">View</a><% } else { %>-<% } %></td>
                    <td><% if (element.pathToMembraneSegmentation) { %><a href="<%= element.pathToMembraneSegmentation %>" target="_blank">View</a><% } else { %>-<% } %></td>
                    <td><% if (element.pathToFilamentSegmentation) { %><a href="<%= element.pathToFilamentSegmentation %>" target="_blank">View</a><% } else { %>-<% } %></td>
                    <td><% if (element.pathToDragonflySegmentation) { %><a href="<%= element.pathToDragonflySegmentation %>" target="_blank">View</a><% } else { %>-<% } %></td>
                    <td><% if (element.pathToParticlePicks) { %><a href="<%= element.pathToParticlePicks %>" target="_blank">View</a><% } else { %>-<% } %></td>
                    <td><% if (element.pathToMRefinements) { %><a href="<%= element.pathToMRefinements %>" target="_blank">View</a><% } else { %>-<% } %></td>
                    <td><% if (element.workLink) { %><a href="<%= element.workLink %>" target="_blank">View</a><% } else { %>-<% } %></td>
                    <td class="text-end">
                        <div class="d-flex flex-row justify-content-end gap-2">
                            <a href="/dataProcessing/view/<%= element._id %>" class="btn btn-primary btn-small">
                                <i class="bi bi-eye"></i>
                            </a>
                            <a href="/dataProcessing/edit/<%= element._id %>" class="btn btn-warning btn-small">
                                <i class="bi bi-pencil"></i>
                            </a>
                            <form action="/dataProcessing/delete/<%= element._id %>?_method=DELETE" method="POST" class="position-relative">
                                <input type="hidden" name="experimentId" value="<%= experiment._id %>">
                                <button type="submit" class="btn btn-danger btn-small">
                                    <i class="bi bi-trash"></i>
                                </button>
                            </form>
                        </div>
                    </td>
                </tr>
            <% }) %>
        </tbody>
    </table>
</div>

<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-5 pb-2 mb-3 border-bottom">
    <h1 class="h2">Tomo Catalog</h1>
    <div class="btn-toolbar mb-2 mb-md-0">
        <div class="btn-group me-2">
            <a href="/catalog/add?experimentId=<%= experiment._id %>" class="btn btn-sm btn-outline-secondary"> + New Catalog Data</a>
        </div>
    </div>
</div>

<div class="table-responsive">
    <table class="table table-striped table-sm">
        <thead>
            <tr>
                <th scope="col">Tomogram File</th>
                <th scope="col">Residual Error</th>
                <th scope="col">Alignment Method</th>
                <th scope="col">Tomogram Quality</th>
                <th scope="col">CLEM Results</th>
                <th scope="col" class="text-end">Action</th>
            </tr>
        </thead>
        <tbody>
            <% cat.forEach(element => { %>
                <tr class="align-middle">
                    <td><%= element.tomogramFile || '-' %></td>
                    <td><%= element.residualError || '-' %></td>
                    <td><%= element.alignmentMethod || '-' %></td>
                    <td><%= element.tomogramQuality || '-' %></td>
                    <td><%= element.clemResults || '-' %></td>
                    <td class="text-end">
                        <div class="d-flex flex-row justify-content-end gap-2">
                            <a href="/catalogData/view/<%= element._id %>" class="btn btn-primary btn-small">
                                <i class="bi bi-eye"></i>
                            </a>
                            <a href="/catalogData/edit/<%= element._id %>" class="btn btn-warning btn-small">
                                <i class="bi bi-pencil"></i>
                            </a>
                            <form action="/catalogData/delete/<%= element._id %>?_method=DELETE" method="POST" class="position-relative">
                                <input type="hidden" name="experimentId" value="<%= experiment._id %>">
                                <button type="submit" class="btn btn-danger btn-small">
                                    <i class="bi bi-trash"></i>
                                </button>
                            </form>
                        </div>
                    </td>
                </tr>
            <% }) %>
        </tbody>
    </table>
</div>
